/* ---- Layout: Main ------  */

html {
  background-color: var(--white);
}

main.dashboard {
  margin-top: 10rem;
}

main.dashboard>*:not(.button) {
  max-width: 90%;
  margin-inline: auto;
}


main.dashboard>section:last-child {
  margin-bottom: 7rem;
}


/* -----  Dash elements -------  */

.hashtag {
  padding: 0.5em 0.7em;
  line-height: 1rem;
  background-color: var(--white);
  color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
  margin-inline: 0;
  width: auto;
  height: auto;
}

.searchbar {
  margin-top: 1.75rem;
  padding-block: 0.5rem;
  width: 100%;
  background-image: url("./icons/search_icon.svg");
  background-repeat: no-repeat;
  background-position: right 1em center;
}

.textbox {
  border: 1px solid var(--dark-blue);
  padding-inline: 20px;
  padding-block: 17px;
  border-radius: 29px;
  text-align: left;
  overflow-y: hidden;
  max-height: 200px;
}

.notification {
  background-color: var(--orange);
  border-radius: 50%;
  height: 12px;
  width: 12px;
  position: absolute;
  top: -2px;
  right: -2px;
}

/* ---- Layout: Navigation ------  */

.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding-inline: 15px;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--almond);
}

.top-nav>h1 {
  margin-bottom: 0;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--almond);
}

.top-nav img,
.bottom-nav img {
  cursor: pointer;
  height: 1.5rem;
}

.bottom-nav img:not(img[alt="New post"]) {
  padding-top: 5px;
}

.post-button {
  padding: 12px;
  border-radius: 50%;
  position: relative;
  bottom: 30px;
  background-color: var(--orange);
  box-shadow: 0 2px 2px hsla(33, 50%, 70%, 0.8);
  transition: 0.3s;
}

/* ---- Groups ------  */

.sliding-group {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: 5px;
  scrollbar-width: none;
}

.sliding-group::-webkit-scrollbar {
  display: none;
}

.post-group,
.center-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.center-group {
  gap: 0.75rem;
  justify-content: center;
  align-content: space-around;
}


/* -------- Cards and group-specific card styles ------ */

.card {
  position: relative;
  display: flex;
  align-items: center;
  line-height: 1.2;
  border-radius: 15px;
  padding: 10px;
  max-width: 25ch;
  font-weight: 600;
  flex: 1 1 30%;
  box-shadow: 0px 4px 10px rgba(98, 62, 29, 0.15);
}

.sliding-group>.card {
  width: 120px;
  height: 120px;
  flex: 1 0 35%;
  align-items: flex-end;
  text-align: left;
}


/* ---- Layout: Topics ------  */

.topic-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.topic-text {
  color: var(--dark-blue);
}


/* -------  Layout: Post overview -------- */

.posted-by {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.posted-by>h2 {
  font-family: "Lora", Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0;
  margin-right: -10px;
}

.posted-by img {
  display: inline;
  height: 2rem;
}


/* ------  Layout: Profile -----  */

.profile-pic {
  height: 200px;
  width: 200px;
  margin-bottom: 10px;
}


/* ---------  Specific elements -----------  */


.pencil {
  background: url("./icons/pencil_icon.svg") center no-repeat;
  background-size: 100%;
  position: absolute;
  height: 18px;
  width: 18px;
}

.pencil.pencil-dash {
  right: -35px;
  top: 6px;
}

.pencil.pencil-profile {
  top: 20%;
  right: -70%;
}

.go-back {
  background: url("./icons/left-arrow.svg") center no-repeat;
  background-size: 100%;
  position: absolute;
  top: 115px;
  left: 18px;
  height: 14px;
  width: 16px;
}


/* ---------- Media queries ------ */


@media all and (min-width: 440px) {


  main.dashboard {
    width: 90%;
    margin-inline: auto;
  }

  .sliding-group {
    scrollbar-width: thin;
  }

  .sliding-group::-webkit-scrollbar {
    display: visible;
  }

}