/*  I definitely did NOT come up with this on my own.
see https://developer.mozilla.org/en-US/docs/Learn/Forms/How_to_build_custom_form_controls/Example_5  */

.widget select,
.no-widget .select {
  position: absolute;
  left: -5000em;
  height: 0;
  overflow: hidden;
}

/* --------------- */
/* Required Styles */
/* --------------- */

.select {
  position: relative;
  display: inline-block;
}

.select.active,
.select:focus {
  border-width: 2px;
}

.select .optList {
  position: absolute;
  top: 100%;
  left: 0;
}

.select .optList.hidden {
  max-height: 0;
  visibility: hidden;
}

/* ------------ */
/* Fancy Styles */
/* ------------ */

.select {
  font-family: inherit;
  padding: 0.5rem;
  width: 100%;
  border: 1px solid var(--dark-blue);
  border-radius: 24px;
  background: var(--white);
}

.select .value {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top;
  text-align: left;
  padding-left: 5px;
}

.select:after {
  content: "▼";
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 2rem;
  top: 7px;
  right: -5px;
  padding-top: .1em;
  text-align: left;
  color: var(--dark-blue);
}

.select .optList {
  z-index: 2;
  list-style: none;
  margin-top: 1px;
  background: var(--white);
  border: 2px solid var(--dark-blue);
  border-top-width: .1em;
  border-radius: 24px;
  min-width: 100%;
  max-height: 10em;
  overflow-y: auto;
  overflow-x: hidden;
}

.select .option {
  padding: 0.5rem;
  text-align: left;
}

.select .highlight {
  background: var(--dark-blue);
  color: #FFFFFF;
}