/* ---- A spicy combination of...

  http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

and

  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/

-----------------------------------------------------  */


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}


/* --------- Root/Base font styles and colors --------  */

/* 
Background color:
rgb(235, 221, 204)
hsl(33, 44%, 86%)

Text color:  
rgb(40, 66, 91)
hsl(209, 39%, 26%)
*/

:root {
  --almond: #EBDDCC;
  --white: #FBFBFB;
  --dark-blue: #28425B;
  --orange: #EF7760;
  --salmon: #F59D8C;
  --gold: #F0C88B;
  --lgt-green: #B0D97D;
  --lighter-green: #D7E7B6;
  --lgt-blue: #BACBF6;
  --purple: #D1BAE8;
  --gray: #B5BDC5;
  --pink: pink;
}

html {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  background-color: var(--almond);
  color: var(--dark-blue);
  text-align: center;
}

@font-face {
  font-family: "glorify";
  src: url("./fonts/Glorifydemo-BW3J3.otf")
}

.size-warning {
  display: none;
  background-color: var(--white);
  width: 100%;
  padding: 10px;
}

.bg-white {
  background: var(--white);
}

.borderless {
  border: 0;
}

/* -------- General spacing ------------ */


main>* {
  margin-inline: 5%;
}

main:not(.dashboard)>*:last-child {
  margin-bottom: 3rem;
}

.stack>*+* {
  margin-block-start: 2.25rem;
}

.stack-small>*+* {
  margin-block-start: 1rem;
}

.spaced>*:not(*:last-child) {
  margin-block-end: 1rem;
}

.top-space {
  margin-top: 5rem;
}

.central {
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.relative {
  position: relative;
}



/* ----  Containers -----  */

.link-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}



/* ------  Images --------- */

.img-full {
  border: 1px solid var(--dark-blue);
  height: 450px;
  line-height: 450px;
  text-align: center;
  margin-top: 2rem;
}

.logo {
  display: inline-block;
  margin-inline: auto;
  margin-top: 3rem;
}

/* ---------  Text ------------ */

h1 {
  font-size: 1.75rem;
  font-family: "Lora", Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

h3 {
  font-weight: 600;
}

small {
  font-size: 14px;
}

b {
  font-weight: bold;
}

.txt-light {
  font-weight: 300;
}

.txt-xxl {
  font-size: 2.5rem;
  font-weight: bold;
}

/* --------- Buttons and links --------- */

.button {
  display: inline-block;
  text-align: center;
  margin-inline: auto;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  border: 1px solid var(--dark-blue);
  border-radius: 24px;
  cursor: pointer;
  background-color: var(--dark-blue);
  color: var(--white);
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0px 4px 10px rgba(98, 62, 29, 0.15);
  transition: 0.2s;
}

.button.survey {
  background-color: var(--white);
  color: var(--dark-blue);
}

.button.two-line {
  line-height: 1.1rem;
  padding-top: 0.35rem;
}

.btn-small {
  width: 45%;
}

.button:active,
.post-button:active {
  transform: scale(0.95);
  transition: 0.2s;
}

.text-button {
  border: none;
  padding: 0;
  margin: 0 auto;
  cursor: pointer;
  font-weight: bold;
  background-color: var(--white);
  color: var(--dark-blue);
}



/*-----------  Slides ----------------- */


.slide {
  margin-top: 3.75rem;
  padding-top: 1rem;
  margin-inline: 0;
}

.slide>* {
  margin-inline: 5%;
}

.slide>p {
  margin-top: 19rem;
}

.slide-button-container {
  margin: 2.5rem auto;
  padding-bottom: 2rem;
  display: flex;
  width: 60%;
  gap: 1rem;
  width: 60%;
  justify-content: center;
}

.slide-button {
  border-radius: 50%;
  border: 1px solid var(--dark-blue);
  background-color: var(--white);
  height: 1rem;
  width: 1rem;
}

.slide1 {
  background: url("./illustrations/onboarding1_BG.png") no-repeat;
  background-size: 120%;
  background-position: center top -30%;
}

.slide1 .slide-button:nth-of-type(1) {
  background-color: var(--dark-blue);
}


/* -------- Pre-dash and login components ---------- */


.pre-dash {
  background: url("./illustrations/onboarding3_noBG.png") center no-repeat;
  background-size: 90%;
}

.pre-dash.high-bg-img {
  background-position: center 35%;
}

.pre-dash>h1 {
  padding-bottom: 20rem;
}

.pre-dash>form {
  margin-bottom: 2.25rem;
}


/* -------- Onboarding survey ---------- */


.survey-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.survey-container-grid {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-gap: 1rem;
  justify-content: space-between;
}

.button.survey__checked {
  background-color: var(--dark-blue);
  color: var(--white);
  border-color: var(--dark-blue);
}


/* --------- Input elements --------- */


input,
select,
textarea {
  border: 1px solid var(--dark-blue);
  background-color: var(--white);
  border-radius: 24px;
  padding: 0.5rem;
}

input {
  text-indent: 4px;
}

select,
option {
  appearance: none;
  -webkit-appearance: none;
}

textarea {
  resize: none;
  border-radius: 20px;
  padding: 5px;
  width: 100%;
  text-indent: 4px;
}

input::placeholder,
textarea::placeholder,
.default-option {
  color: rgba(40, 66, 91, 0.7);
}


input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: 1.5px solid var(--dark-blue);
}

select>option {
  font: inherit;
}

.form {
  margin-top: 1.75rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}

.form-dash {
  padding-bottom: 8rem;
  flex-direction: column;
  gap: 1.5rem;
}

.form.textbox {
  justify-content: center;
}

.form>input {
  font-weight: 600;
  min-width: 0;
  flex: 0 0 45%;
}

.form>.input-long {
  flex-basis: 95%;
}

.avatar-wrapper {
  height: 200px;
  width: 200px;
  line-height: 200px;
  margin-inline: auto;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--dark-blue);
  background-color: var(--white);
  transition: all .3s ease;
}



/* ------  Code of conduct ----------  */

.coc-link {
  background: none;
  padding: 0;
  border: none;
  border-bottom: 1px solid var(--dark-blue);
  cursor: pointer;
}

.coc-modal {
  background-color: var(--white);
  z-index: 1;
  position: relative;
  top: -630px;
  width: 90%;
  height: auto;
  padding-inline: 40px;
  padding-top: 40px;
  display: none;
}

.coc-modal>p {
  text-align: left;
}

.coc-agree {
  width: 60%;
  margin-top: 1.75rem;
  overflow: scroll;
  margin-bottom: 2rem;
}

.coc-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--orange);
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  transform: rotate(45deg);
}


/* ------ ANIMATIONS  --------------- */


/* -------- Sliding animations!! -------------- 

See https://codepen.io/cassandraPaige/pen/MWYeqwZ
for details
------------------------------------- */

@keyframes slideIn {
  0% {
    transform: translateX(1400px);
  }

  94% {
    transform: translateX(-15px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-1400px);
  }

  94% {
    transform: translateX(15px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-1400px);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-400px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes slideDiag {
  0% {
    transform: translateX(500px) scale(.2);
  }

  100% {
    transform: translateX(0px) scale(1);
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -10;
}

.incoming {
  translate: transformX(1400px);
}

.slideOut-container {
  animation: slideOut 2s ease forwards;
}

.slideIn-container {
  transform: translateX(1400px);
  animation: slideIn ease-out forwards;
  animation-delay: 2.5s;
  animation-duration: 1.5s;
}

.slideUp-container {
  transform: translateY(300px);
  animation: slideUp linear forwards;
  animation-delay: 3.5s;
  animation-duration: 0.5s;
}

.slideDown-container {
  transform: translateY(-400px);
  animation: slideDown linear forwards;
  animation-delay: 3.5s;
  animation-duration: 1.2;
}

.slideInLeft-container {
  transform: translateX(-1400px);
  animation: slideInLeft linear forwards;
  animation-delay: 2.7s;
  animation-duration: 1.5s;
}

/* -----  Spinner --------  

See https://www.w3docs.com/snippets/css/how-to-create-loading-spinner-with-css.html
for details

----------------------------------- */

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.spin::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px var(--almond);
  border-bottom-color: var(--salmon);
  border-radius: 50%;
  content: "";
  height: 40px;
  width: 40px;
  position: absolute;
  top: center;
  left: center;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}

/* ---------- Media queries ------ */

@media all and (min-width: 440px) {

  body {
    width: 50vw;
    height: 100vw;
    margin-inline: auto;
  }

  .size-warning {
    display: block;
    text-align: left;
  }

  .coc-modal {
    width: 60ch;
  }

  .central {
    height: 100vw;
  }


}