/* ---- A spicy combination of...

  http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

and

  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/

-----------------------------------------------------  */


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}


/* --------- Root/Base styles --------  */

:root {
  --main-color: black;
  --accent-color: blue;

  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
}

html {
  font-family: "Open Sans", Geneva, Verdana, sans-serif
}


/* -------- General spacing ------------ */

main {
  width: 90%;
  margin-inline: auto;
}

.stack>*+* {
  margin-block-start: var(--s2);
}

.stack-small *+* {
  margin-block-end: 0.5rem;
}

.spaced>*:not(*:last-child) {
  margin-block-end: var(--s-1);
}

.top-space {
  margin-top: 40%;
}


/* --------- Buttons and button-like links --------- */

.button {
  display: block;
  text-align: center;
  margin-inline: auto;
  padding-block: 3%;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  transition: 0.2s;
}

.button:hover:not(.survey__checked) {
  background-color: hsla(100, 0%, 50%, 0.3);
  cursor: pointer;
}

.button:active {
  transform: scale(0.95);
}

.next {
  width: 25%;
  position: absolute;
  top: 650px;
  right: 22px;
  display: flex;
  flex-direction: column;
}

.next>.button {
  background: url("./right-arrow.svg") center/contain no-repeat;
  background-size: 25px;
  padding-block: 2%;
  height: 50px;
}


/* ------  Images --------- */

.img-full {
  border: 1px solid black;
  height: 450px;
  text-align: center;
  margin-top: var(--s2);
}



/* ---------  Text ------------ */


.info-text {
  text-align: center;
}

b {
  font-weight: bold;
}

h1 {
  font-size: var(--s1);
}


/* -------- Survey cards ---------- */

.survey-container {
  display: flex;
  flex-direction: column;
  gap: var(--s0);
}

.survey-container__wrap {
  flex-flow: row wrap;
  gap: var(--s-4);
  row-gap: var(--s-1);
  justify-content: space-between;
}

.survey__option {
  flex: 0 0 48%;
}

.survey__checked {
  background-color: hsla(100, 0%, 50%, 0.6);
}


/* --------- Signup form --------- */

.sign-up {
  margin-top: var(--s3);
  display: flex;
  flex-flow: wrap;
  row-gap: var(--s2);
  column-gap: var(--s0);
}

.sign-up>input {
  border: 0;
  border-bottom: 1.5px solid black;
  font-family: inherit;
  font-weight: 600;
  min-width: 0;
  flex: 0 0 45%;
}

.sign-up>.input-long {
  flex-basis: 95%;
}

.sign-up>input:focus-visible {
  outline: 0;
}

.avatar-wrapper {
  height: 200px;
  width: 200px;
  line-height: 200px;
  margin-inline: auto;
  border-radius: 50%;
  overflow: hidden;
  border: 1.5px solid black;
  transition: all .3s ease;
}

.avatar-wrapper:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.avatar-wrapper:hover .profile-pic {
  opacity: .5;
}



/* ---------- Media queries ------ */

@media all and (min-width: 380px) {
  main {
    position: relative;
    width: 380px;
    height: 811px;
    padding-inline: 20px;
    border: 1px solid black;
    box-shadow: 0 2px 5px rgba(19, 18, 18, 0.2);
  }
}